/* FONTS */

@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap");

/* GLOBAL STYLES */

:root {
  --font-primary: 'Cinzel', sans-serif;
  --font-secondary: 'Cinzel', serif;
  --font-code: 'Cinzel', monospace;
  --bg-color: #1A1A1A;
  --font-color: #F2F2F2;
  --btn-bg-color: #F2F2F2;
  --accent-color: #F15A24;
  --header-shadow: #F15A24 0px 0px 0px;
  --footer-shadow: #F15A24 0px 0px 2px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-flow: column;
  height: 100vh;
  color: var(--font-color);
  font-family: var(--font-primary);
  min-width: 800px;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: auto;
  margin: 0 auto;
  padding: 2rem 4rem;
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;
  

}

/* HEADER */

header {
  box-shadow: var(--header-shadow);
}

header .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  /* right: auto; */
  padding: 5rem 5rem;
  color: var(--bg-color);
  transition: all 0.3s ease;
  cursor: pointer;
  outline: none;
  
  
}

.menu:hover {
  box-shadow: none;
  color: var(--btn-bg-color);
  size: 1;
}

/* SOCIAL BUTTONS */

.social {
  
  display: inline-block;
  justify-content: center;
  direction: column;
  padding: 0.75rem 0.75rem;
  background: transparent;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
  border-radius: 5rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
}

.social:hover {
  box-shadow: none;
  border-radius: 2rem;
  size-adjust: auto;
  transform: scale(1.2);
}

.hide {
  display: none;
}

.social:hover + .hide {
  display: block;
  color: #F15A24;
}

/* BUTTONS */

.btn {
  display: inline-block;
  padding: 1rem 1rem;
  background: var(--accent-color);
  color: var(--bg-color);
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 1.1rem;
  text-transform: capitalize;
  transition: all 0.3s ease;
  cursor: pointer;
  position: right;
  text-decoration: none;
  outline: none;
  position: relative;
  right: 10px;
}
.btn:hover {
  box-shadow: none;
  background: var(--btn-bg-color);
  color: var(--bg-color);
}

.wallet-btn {
  border-radius: 3rem;
  margin-left: 2rem;
  border-color: transparent;
  }

  .wallet-btn:hover {
    transform: scale(1.05);
    }



.hero-btn {
  border-radius: 1px;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
}



/* MINT WINDOW */

.mint-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: inline-block;
  position: static;
  right: 0px;
  width: 500hh;
}


/* COUNTDOWN SECTION */

section {
  flex: 1 1 auto;
}

.countdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.countdown ul {
  display: flex;
  gap: 2rem
}
.countdown .clock-item {
  list-style: none;
  width: 120px;
  height: auto;
}
.countdown .clock-item .count-number {
  background: var(--accent-color);
  color: var(--bg-color);
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-secondary);
  padding: 0.8rem 1rem;
  display: inline-block;
  width: 75%;
  text-align: center;
  line-height: 1;
  border-radius: 24px 24px 0 0;
}
.countdown .clock-item .count-text {
  background: var(--btn-bg-color);
  font-family: var(--font-secondary);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--bg-color);
  padding: 0.8rem 1rem;
  display: inline-block;
  width: 75%;
  text-align: center;
  line-height: 1;
  border-radius: 0 0 24px 24px;
  border:2px var(--bg-color);
}

.countdown h1 {
  color: var(--accent-color);
  font-style: normal;
  margin: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.countdown p {
  font-size: 1.1rem;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
  text-align: center;
}

/* OWNER STYLES */

.owner-status {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}




/* Previews */

.previews {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 20px; 
  }

.previews h1 {
  color: var(--accent-color);
  justify-content: normal;
  font-style: normal;
  white-space: break-spaces;
  margin: 2rem 0;
  font-size: 2.5rem;
  text-align: justify; 
}

.responsive {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pfp {
  align-items: center;
  position: relative;
  width: auto;
  padding: 15px;  
  margin-left: auto;
  margin-right: auto;
  
}

.pfp:hover {
  transform: scale(1.15);
  }

/* FOOTER */

footer {
  box-shadow: none;
}

footer .container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer p {
  font-size: 0.5rem;
  font-family: var(--font-secondary);
  margin-bottom: 1rem;
  text-align: center;
}


/* Dotted red border */
hr.new {
  border-top: 2px solid #F15A24;
}



/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .menu {
    gap: 3rem;
  }
  .wallet-btn {
    margin-left: 1;
    padding: 1rem;
    max-width: 8rem;
  }
  .countdown h1 {
    font-size: 2rem;
  }
  .countdown p {
    font-size: 1rem;
  }
}
 
